/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  color: white;
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// header
.navbar-left {
  float: left;
}
.navbar-left span {
  color: white;
  font-size: 25px;
  line-height: 50px;
}
.navbar-right {
  float: right;
}
.navbar-right li {
  float: left;
  list-style: none;
  font-size: 20px;
  padding-right: 10px;
}
.navbar-right a {
  color: gray;
  padding-top: 10px;
  line-height: 50px;
}

// body
.body {
  margin-top: 60px;
}

// footer
